<h1>Результат готовки фабрики</h1>
<h2>Сырная пицца:</h2>
<p>{{ orderResultCheese }}</p>
<h2>Вегетарианская пицца:</h2>
<p>{{ orderResultVeggie }}</p>
<h2>Пицца пеперони:</h2>
<p>{{ orderResultPepperoni }}</p>

